<html ng-app="app">
  <head>
    <link rel="stylesheet" href="css/bootstrap.css"></link>
    <link rel="stylesheet" href="css/app.css"></link>
    <script type="text/javascript">
    document.write('<script src=\"http://'
        + (location.host || 'localhost').split(':')[0]
        + ':35729/livereload.js?snipver=1\"><\/script>')
    </script>
  </head>
  <body ng-controller="Feedback">
    <h4>I can change anything and it will reload it.</h4>
    <h1>Feedback 
      <span ng-show="workshop.attendee">from {{workshop.attendee}}</span>
    </h1>
    
    Name <br/>
    <input type="text" ng-model="workshop.attendee"></input><br/>

    Score <br/> 
    <input type="text" ng-model="workshop.score"></input><br/>

    Feedback <br/>
    <textarea 
      ng-model="workshop.feedback"
      placeholder="Reason for scoring a {{workshop.score || 0}}">
    </textarea>
    <br/>
    {{workshop.feedback | amazing}}

    <checkhuman valid="client.isHuman"></checkhuman> <br/>

    <button ng-disabled="!client.isHuman" ng-click="save(workshop)">Send Feedback</button> <br/>

    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/check-human.js"></script>
    <script src="js/amazing-filter.js"></script>
    <script src="js/feedback.js"></script>
  </body>
</html>